@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,400;0,700;1,400&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(122, 191, 191, .5);
  font-family: "Bebas neue";
  color: #0D0D0D;
  
}
.container {
  position: relative;
  background: #f2f2f2;
  max-width: 1280px;
  padding-top: 220px;
}

.nav_container {
  max-width: 1280px;
  background: #fdfdfd;
  width: 100%;
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.4);
}

.nav-burger {
  position: relative;
  width: 100px;
  height: 100px;
}

.nav-toggle {
  background: #EB5428;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav ul{
  display: flex;
  justify-content: space-between;
  gap: 30px;

}

nav ul li{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 20px;

}


nav ul li a{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: #EB5428;
  font-size: 16px;
  gap: 5px;

}


nav ul li a img {
  width: 60px;
}

.search {
  position: absolute;
  display: flex;
  top: 150px;
  left: 40%;
  background: #EB5428;
  border: 2px solid #EB5428;
}

.search input{
  width: 200px;
  font-size: 16px;
  border: none;
  outline: none;

}
.user_icon {
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-weight: bold;
  align-items: center;
  
}


#recipe {
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;
  font-family: "Bebas neue";
}

#recipe h1 {
  font-size: 40px;
  padding: 10px;
}

.street-tacos-image {
  width: 40%;
}

#street-tacos-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
}

.street-tacos-text {
  width: 50%;
  font-family: "Montserrat";
  padding: 16px;
  line-height: 2;
  font-size: 16px;
  
}
menu {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  width: 10%;
  padding: 0px;
  border: 2px solid #EB5428;
  padding-top: 40px;
  background-color: #fff;
}

menu li{
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
  color: #EB5428;
  

}

#details {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1280px;
  width: 100%;
  background: #0D0D0D;
  color: #7ABFBF;
  gap: 20px;
  padding: 10px;
  font-size: 16px;
}

.details-wrapper{
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  /* padding: 10px 90px; */
  font-family: "Montserrat";
  
}

.meal_details h2{
  text-transform: capitalize;
  font-size: 14px;
}

#Ingredients {
  max-width: 1280px;
  width: 100%;
  padding: 10px 20px;
  display: flex; 
  justify-content: space-between;
  gap: 20px;
  font-size: 16px;
  background: #f2f2f2;
}

.ingredients_list{
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 20%;
}


.ingredients_list ul{
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-family: "Montserrat";

  
} 

.directions_list{
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 80%;
}

.directions_list h1{
  text-align: center;
}

.directions_list ol{
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-family: "Montserrat";
} 


#side_dishes {
  max-width: 1280px;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  padding: 10px 20px;
  background: #7ABFBF;
}

#side_dishes h1 {
  text-align: center;
  padding: 10px 20px;
}

.side-dish-cards  {  
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}


.rating_stars {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding-right: 20px;
  
}

.rating_stars p{
  font-size: 14px;
  font-weight: bold;
}

article{
  max-width: 234px;
}
article p{
  font-family: "Montserrat";

}

.mexican {
  display: flex;
  flex-direction: column;
  gap: 10px;
}


footer {
  width: 100%;
  max-width: 1280px;
  display: flex;
  flex-direction: row-reverse;
  font-size: 20px;
  background: #f2f2f2;

}
.socials {
  width: 50%;
  display: flex;
  justify-content: space-between;
  padding: 30px;
}

.socials div {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #EB5428;

}

.footer_image {
  width: 50%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: start;
  padding: 20px 10px ;
}

.footer_image img {
  width: 200px;
 
}

.hamburger-checkbox {
    display: none;
    
  }
  
  .hamburger-label {
    cursor: pointer;
    display: none; /* Initially hide on larger screens */
  }
  
  /* Hamburger menu styles */
  @media screen and (max-width: 414px) {
    .hamburger-checkbox:checked + .nav_container nav {
      display: flex;
    }
    
    body {
      position: relative;

    }
.nav_container {
  height: 100px;
}

    .nav_container nav {
      display: none;
      flex-direction: column;
      width: 100%;
      top: 120px;
      position: absolute;
      
    }

    .nav_container nav ul {
      flex-wrap: wrap;
      justify-content: space-evenly;
      gap: 5px;
      padding: 10px;
    }

    .nav_container nav ul li a{
      font-size: 14px;
    }

    nav ul li a img {
  max-width: 40px;
}
    .nav-burger{
      width: 30%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .nav-toggle {
      top: auto;
      left: 80%;
      width: 55vw;
      height: 100px;
      position: absolute;
      justify-content: center;
      align-items: center;
    }
  
    .hamburger-label {
      display: flex;
      align-items: center;
      flex-direction: column;
      font-size: 16px;
      top: 25%;
      left: 20%;
      position: absolute; /* Show on smaller screens */
    }

    .search {      
      position: absolute; 
      left: 20%;
      width: 60%;     
    }

    .search input {      
      width: 80%;          
    }

    .user_icon {
      top: 0px;
      right: 0;
      height: 100%;
      position: absolute;
      background: #fff;
  }

    #recipe {
      display: flex;
      width: 100%;
      align-items: start;
      flex-direction: column;
      font-family: "Bebas neue";
      position: relative;
    }

    #recipe h1 {
      padding: 10px;
      text-align: center;
      width: 100%;
    }


    #street-tacos-wrapper {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
  
    }

    menu {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 10px 40px;      
      background: #f2f2f2;
      border: none;
    }
    .street-tacos-image {
      width: 100%;
    }

    .street-tacos-text {
      width: 100%;
      font-family: "Montserrat";
      padding: 16px;
      line-height: 2;
      font-size: 14px;
      
    }

      #details { 
        background: #f2f2f2;
        color: #0D0D0D;
      }

    .details-wrapper{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
      width: 100%;
        
    }

    .meal_details{
      text-transform: capitalize;
      display: flex;
      gap: 10px;
    }
    .meal_details h2{
        font-size: 14px;

    }

    .meal_details p{
      font-size: 14px;
    }

    #Ingredients {  
      flex-direction: column;  
      gap: 20px;
      font-size: 14px;
      background: #f2f2f2;
    }

    .directions_list {
      width: 100%;
      padding: 0;
    }
    .side-dish-cards  {  
      gap: 10px;

    }
    article{
      display: flex;
      width: 50%;
      gap: 5px;
      margin-bottom: 20px;
    }
    article h1{
      font-size: 14px;

    }
    article p{
      font-family: "Montserrat";

    }

    article img{
      width: 100px;
    }

    footer {
      display: flex;
      flex-direction: column;
    }

    .socials {
      width: 100%;
    }

    .footer_image {
      width: 100%;
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
      gap: 10px;
      justify-content: start;
      padding: 20px 10px ;
    }
      }
      
  /* For screens between 415px and 768px */
  @media screen and (min-width: 415px) and (max-width: 768px) {
    .hamburger-checkbox:checked + .nav_container nav {
      display: flex;
    }
    body {
      position: relative;

    }
.nav_container {
  height: 200px;
}

    .nav_container nav {
      display: flex;
      flex-direction: column;
      width: 90%;
      top: 120px;
      position: absolute;
      
    }

    .nav_container nav ul {
      flex-wrap: wrap;
      justify-content: space-evenly;
      gap: 5px;
      padding: 10px;
    }

    .nav_container nav ul li a{
      font-size: 14px;
    }

    nav ul li a img {
  max-width: 40px;
}

    .nav-toggle {
      top: -50px;
      left: 0;
      width: 70px;
      height: 70px;
      position: absolute;
    }
  
    .hamburger-label {
      display: none; /* Show on smaller screens */
    }

    .search {
      top: 10%;
      right: 20%;
      width: 30%;
      position: absolute;      
    }

    .search input {      
      width: 80%;          
    }

.user_icon {
    top: 0px;
      right: 0;
      position: absolute;
}

    #recipe {
      display: flex;
      width: 100%;
      align-items: start;
      flex-direction: column;
      font-family: "Bebas neue";
      position: relative;
    }

    #recipe h1 {
      padding: 10px;
    }


    #street-tacos-wrapper {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
  
    }

    menu {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 10px 40px;
      position:absolute;
      background: rgba(170, 170, 170, 0.696);
      border: none;
    }
    .street-tacos-image {
  width: 100%;
}

.street-tacos-text {
  width: 100%;
  font-family: "Montserrat";
  padding: 16px;
  line-height: 2;
  font-size: 14px;
  
}

    #details {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: #f2f2f2;;
  color: #0D0D0D;
  
  
}
.details-wrapper{
  display: flex;
  flex-direction: column;  
  width: 100%;
  
  
}

.meal_details{
  text-transform: capitalize;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}
.meal_details h2{
    font-size: 14px;

}

.meal_details p{
  font-size: 14px;
}

#Ingredients {
  width: 100%;
  padding: 10px 10px;
  display: flex; 
  
  gap: 20px;
  font-size: 14px;
  background: #f2f2f2;
}

.side-dish-cards  {  
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 10px;

}
  article{
  max-width: 50%;
  display: flex;
  gap: 5px;
  margin-bottom: 20px;
}
article p{
  font-size: 12px;

}
article p{
  font-family: "Montserrat";

}

article img{
  width: 100px;
}

.footer_image {
  width: 50%;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: 10px;
  justify-content: start;
  padding: 20px 10px ;
}
  }

    